html,
body {
  /* background: #000; */
  place-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgba(194, 195, 161, 0.5);
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;   */
  font-family: 'Poppins', -apple-system;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
